/* --tirar setas do input de numero 
 /* <-- Aparentemente, algumas margens ainda estão lá, apesar de estar ocultas 
 */
body{
    background-color: rgb(238, 234, 177);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.cabecalho{
    margin: 25px;
    padding: 5px;
    font-size:xx-large;
    font-weight: 400;
    border: 1px solid blue;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    
}

.paymentPage{
    text-align: center;
    margin: 35px;
    font-size:larger;
    border: 1px solid blue;
    padding: 35px;
}

.text{
    padding: 5px;
    display:flex nowrap;
    align-content: space-around;
}

.formulario {
    border: 1px solid rgb(4, 71, 138);
    box-sizing: content-box;
    border-radius: 5px;
    display: flex nowrap;
    align-content: space-around;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

footer, p {
    display: flexbox;
    margin-top: 10%;
    text-align: center;
    font-size: small;
}
/*
.classe

#id n boa pratica
*/